.bg-orange {
	background-color: #96510A;
}

.bg-blue {
	background-color: #425483;
}

.bg-red {
	background-color: #962323;
}

.bg-green {
	background-color: #356048;
}

.bg-pink {
	background-color: #9B5CA6;
}

.bg-purple {
	background-color: #46239B;
}
